body{

background: linear-gradient(blue,black);
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

}

h1{

text-align: center;
color: white;
font-family: Verdana;
font-weight: boid;

}

h2{

margin: auto;

}

#quadrado{

width: 500px;
align-items: center;
justify-content: center;
background: white;
padding: 100px;
display: flex;
gap: 10px;
border-radius: 20px;
height: 800px;
flex-direction: column;


}

h3{

margin: auto;

}

#silhueta{

height: 500px;
width: 500px;
border-radius: 10px;
border: solid blue;

}

#LionelMessi{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;

}

#CristianoRonaldo{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;

}

#Neymar{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;

}

#KylianMbappé{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;

}

#PauloDybala{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;

}

#ErlingHaaland{

background-color: blue;
border: none;
height: 150px;
width: 100px;
border-radius: 10px;
justify-content: center;
align-items: center;
    
}
